<template>
  <div id="slider">
    <div id="screen" v-for="image in images" v-bind:key="image.id">
      <p class="comment">{{image}}</p>
      <!-- <img :src="image" class="comment"> -->
    </div>
  </div>
</template>

<script>
let ws
export default {
  name: 'slider',
  props: ['room_id'],
  data () {
    return {
      images: []
    }
  },
  mounted () {
    console.log(this.room_id)
    ws = new WebSocket('ws://localhost:4567/room/' + this.room_id)

    ws.onopen = () => {
      console.log('open')
    }

    ws.onclose = () => {
      console.log('close')
    }

    ws.onmessage = evt => {
      this.images.push(evt.data)
    }
  }
}
</script>

<style lang="scss">
#slider{
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space : nowrap;
  cursor: default;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
}
.comment{
  animation: lane linear 20s forwards;
}
@keyframes lane {
  from{ transform: translate(100%, 0); }
  to{ transform:   translate(-100%, 0); }
}
</style>
