<template>
  <div class="submit">
    <input type="text" name="hoge" v-on:keyup.enter="sendURL" v-model="inputField">
  </div>
</template>

<script>
let ws
export default {
  name: 'submit',
  props: ['room_id'],
  data () {
    return {
      inputField: ''
    }
  },
  methods: {
    sendURL () {
      ws.send(this.inputField)
      this.inputField = ''
    }
  },
  mounted () {
    console.log(this.room_id)
    ws = new WebSocket('ws://localhost:4567/room/' + this.room_id)

    ws.onopen = () => {
      console.log('open')
    }

    ws.onclose = () => {
      console.log('close')
    }
  }
}
</script>
