.index, .create_room, .inquiry, .rule, .room {
  padding: 1em;
  color: #fff;
}

html, body {
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
}

body {
  // font
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //background
  background: linear-gradient(-45deg, rgba(246, 255, 0, .8), rgba(255, 0, 161, .8)) fixed,
  url('~/assets/img/background-0.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  color: #2c3e50;
}

footer {
  background: #2c3e50;
  padding: 1.5em;
  margin-top: auto;
  ul {
    list-style-type: none;
    padding: 0;
    li {
      display: inline-block;
      margin: 0 10px;
    }
  }
}

a {
  color: #42b983;
}

.form {
  animation: back .5s ease .1s forwards;
  padding: 1em;
  overflow: hidden;
}

input, textarea {
  margin: 10px;
  padding: .5em 0 .5em .5em;
  background: rgba(255,255,255,0.15);
  border: none;
  width: 100%;
  font-size: 1.5em;
  transition: background 0.5s;
  &:focus {
    background: rgba(255,255,255,0.50);
  }
}

textarea {
  height: 15em;
}

button {
  margin: 50px 1em 0 0;
  text-align: center;
  background: rgba(255,255,255,0.15);
  border-radius: 5px;
  border: none;
  padding: 0.5em;
  font-size: 1.5em;
  transition: background 0.5s;

  &:hover {
    background: rgba(255,255,255,0.50);
  }
}

.error {
  font-size: large;
  font-weight: bold;
  color: red;
  margin: 1em;
}
