@keyframes gradation {
  0% {
    background: rgba(255,255,255,0.1);
  }
  25% {
    background: rgba(255, 255,0, 0.1);
  }
  50% {
    background: rgba(255, 0,255,0.1);
  }
  75% {
    background: rgba(0, 255, 255,0.1);
  }
  100% {
    background: rgba(255,255,255,0.5);
  }
}

@keyframes back {
  0%  {
    background: rgba(255, 255, 255, 0.1);
    transform: scale(0.9);
  }
  30% { background: rgba(0,0,0, 0.15); }
  60% { background: rgba(0,0,0, 0.5); }
  100% {
    background: rgba(255, 255, 255, .4);
    transform: scale(1);
  }
}

@keyframes huerotator {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
