<template>
  <div class="create_room">
    <div class="form">
      <h1>ルーム作成</h1>
      <div class="error">{{ errorField }}</div>
      ルーム名: <br>
      <input type="text" name="name" v-model="nameField" placeholder="〇〇小学校卒業式" />
      <br>
      あいことば:<br>
      <input type="text" name="password" v-model="passwordField" placeholder="10年後シャボンディー諸島で!"/>
      <button v-on:click="submit">ルームを作成する</button>
    </div>

  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'create_room',
  data () {
    return {
      nameField: '',
      passwordField: '',
      errorField: ''
    }
  },
  beforeCreate: function () {
    if (this.$session.exists()) {
      let room = this.$session.get('room')
      this.$router.push('/room/' + room.room_id)
    }
  },
  methods: {
    submit () {
      axios.post('http://localhost:4567/rooms', JSON.stringify({
        name: this.nameField,
        password: this.passwordField,
        password_confirmation: this.password
      })
      ).then(response => {
        this.$session.set('room', response.data)
        this.$router.push('/room/' + response.data.uniq_id)
      }).catch(err => {
        this.errorField = err.response.data.body
      })
    }
  }
}
</script>

<style lang="scss">
.create_room {
  overflow: hidden;
  color: #2c3e50;
}
</style>
