<template>
  <div class="how_to_use">
    <h2>使い方ガイド</h2>
    <p><router-link to='/create_room'>ルーム作成フォーム</router-link>からイベント名をと参加者様にログインしていただく合言葉をご入力いただき、URLを発行します。発行されたURLをシェアしていただくことで写真共有ページに移動します。</p>
    <p>写真共有ページからアップロード写真を選択していただいて、プレビューされた写真を上にフリックすることで写真を投稿することができます。</p>
  </div>
</template>

<script>
export default {
  name: 'how_to_use'
}
</script>

<style>
.how_to_use {
  padding: 1em;
  background: rgba(0,0,0, 0.3);
  color: #fff;
}
</style>
