<template>
  <div class="index">
    <h1 class="service_title">Share_Slider</h1>
    <h2> Share_Sliderは思い出を手軽にスライドショートして、 参加者と共有できるイベント向けサービスです </h2>
    <p>卒業式や忘年会みなさんのスマートフォンやカメラに入った、参加者との思い出をシェアして見ませんか?</p>
    <p>プロジェクターなどの巨大スクリーンに幹事様のPCを繋いでいただくだけで</p>
    <p>参加者様が投稿した写真をスクリーン上に流すことができ、思い出を手軽に共有できます。</p>
    <p>Share_Sliderはみなさまとの思い出を会員登録無しで手軽にお使いいただくことが可能です</p>
    <br>
    <h2> 管理者からのお願い </h2>
    <p>このサービスはユーザーの皆様に快適にご利用していただくために無償でサービス提供させていただいています</p>
    <p>サービスを使う皆様の笑顔を最優先にサービス向上に努めておりますが至らない場合もあると思いますが、ご了承ください</p>
    <p>またその他ご不明点などございましたら<router-link to="/">お問い合わせフォーム</router-link>からご連絡よろしくお願いします。</p>
    <p>最後になりますが開発のモチベーションにもつながりますので<a href="http://amzn.asia/aIFO6ZK">欲しい物リスト</a>の方も閲覧いただけたら幸いです</p>
    <br>
    <div style="text-align:center;">
      <router-link to='/create_room' class="button">サービスを使ってみる</router-link>
    </div>
    <br>
  </div>
</template>

<script>
export default {
  name: 'index',
  data () {
    return {
    }
  }
}
</script>

<style lang="scss">
.index {
  background: rgba(0,0,0, 0.3);
}

.service_title {
  color: transparent;
  background: linear-gradient(to bottom, #cce5ff 0%, #ccfff2 100%);
  opacity: 0.5;
  animation: huerotator 3s infinite alternate;
  -webkit-background-clip: text;
  font-size: 5em;
  font-weight: bold;
}

.button {
  text-decoration: none;
  color: #eee;
  font-size: 1.5em;
  padding: .5em;
  border: none;
  border-radius: 10px;
  animation: gradation 5s infinite alternate;
}

</style>
