<template>
  <div class="inquiry">
    <div class="form">
      <h1>問い合わせ</h1>
      <div class="error">{{ errorField }}</div>
      名前: <br>
      <input type="text" name="name" v-model="nameField" placeholder="山田太朗" />
      <br>
      メールアドレス:<br>
      <input type="email" name="email" v-model="emailField" placeholder="sample@sample.com" />
      <br>
      本文:<br>
      <textarea v-model="bodyField"></textarea>
      <br>
      <button v-on:click="submit">問い合わせる</button>
    </div>

  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'inquiry',
  data () {
    return {
      nameField: '',
      emailField: '',
      bodyField: '',
      errorField: ''
    }
  },
  methods: {
    submit () {
      new Promise((resolve, reject) => {
        this.validation(errMsg => {
          this.errorField = errMsg
          resolve(errMsg)
        })
      }).then((errMsg) => {
        if (!errMsg) {
          axios.post('http://localhost:4567/inquiry', JSON.stringify({
            name: this.nameField,
            email: this.emailField,
            body: this.bodyField
          })
          ).then(response => {
            alert('送信が完了しました')
            window.location.href = 'http://localhost:8080/'
          }).catch(err => {
            alert('送信が失敗しました: Server is ' + err.response.statusText)
          })
        }
      })
    },
    validation (ret) {
      if (!this.nameField) {
        return ret('名前を入力してください')
      }
      if (!this.emailField) {
        return ret('メールアドレスを入力してください')
      } else if (!(this.emailField.match(/[A-Za-z0-9._+]+@[A-Za-z]+.[A-Za-z]/))) {
        return ret('メールのフォーマットを確認してください')
      }
      if (!this.bodyField) {
        return ret('本文を入力してください')
      }
      return ret('')
    }
  }
}
</script>

<style lang="scss">
  .inquiry {
    overflow: hidden;
    color: #2c3e50;
  }
  </style>
