<template>

  <div class="room" v-if="selectedWindow('share')">
    <div v-if="data">
      <h1>{{ data.name }}に参加中</h1>
      <h2>URLをシェアする</h2>
      <input type="text" v-model="url" readonly="readonly" >
      <h2>SNSでシェアする</h2>
      <button class="join" v-on:click="selectWindow('slider')">スライド</button>
      <button class="join" v-on:click="selectWindow('submit')">投稿</button>
      <button class="logout" v-on:click="logout">logout</button>
    </div>
  </div>
  <div v-else-if="selectedWindow('slider')">
    <Slider :room_id="room_id" />
  </div>

  <div v-else-if="selectedWindow('submit')">
    <Submit :room_id="room_id" />
  </div>

  <div class="room" v-else>
    <h1>初めて入室されますか？ログインしてください</h1>
    <div class="error">{{ errorField }}</div>
    あいことば:
    <input type="pasword" v-model="passwordField">
    <button v-on:click="login">Login</button>
  </div>

</template>

<script>
import Slider from '@/components/modules/Slider'
import Submit from '@/components/modules/Submit'
import axios from 'axios'
export default {
  name: 'room',
  props: ['room_id'],
  components: { Slider, Submit },
  data () {
    return {
      showWindow: { now: 0, login: 0, share: 1, slider: 2, submit: 3 },
      data: Object,
      url: '',
      passwordField: '',
      errorField: ''
    }
  },
  methods: {
    login () {
      axios.post('http://localhost:4567/room', JSON.stringify({
        uniq_id: this.room_id,
        password: this.passwordField
      })).then(response => {
        this.$session.set('room', response.data)
        this.data = this.$session.get('room')
        this.url = 'http://localhost:8080/#/room/' + this.data.uniq_id
      }).catch(err => {
        this.errorField = err.response.statusText
      })
    },
    logout () {
      this.$session.destroy()
      this.$router.push('/')
    },
    selectedWindow (value) {
      return this.showWindow.now === this.showWindow[value]
    },
    selectWindow (value) {
      this.showWindow.now = this.showWindow[value]
    }
  },
  mounted () {
    this.data = this.$session.get('room')
    if (this.data) {
      this.url = 'http://localhost:8080/#/room/' + this.data.uniq_id
      this.selectWindow('share')
    }
  }
}
</script>

<style lang="scss">
.room {
  background: rgba(0,0,0, 0.3);
  overflow: hidden;
}
button {
  &.join {
    background: rgb(84, 195, 241);
    &:hover {
      background: rgba(84, 195, 241, 0.7);
    }
  }
  &.logout {
    background: rgb(214, 0, 119);
    &:hover {
    background: rgba(214, 0, 119, 0.7);
    }
  }
}
</style>
