<template>
  <div id="app">
    <main>
    <router-view/>
    </main>
    <footer>
      <ul>
        <li><router-link to='/'>Share_Sliderとは</router-link></li>
        <li><router-link to='/how-to-use'>使い方ガイド</router-link></li>
        <li><router-link to='/'>管理者からのお願い</router-link></li>
        <li><router-link to='/rule'>利用規約</router-link></li>
        <li><router-link to='/inquiry'>問い合わせ</router-link></li>
      </ul>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="scss">
@import  "./src/stylesheets/global.scss";
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  margin: 50px 10% 50px 10%;
}
</style>
